/* Accueil */
/* SECTION  PARIS / BELLEVILLE */
.introduction__location {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  font-size: 14pt;
}
.introduction__location .introduction__location--icone {
  margin-right: 20px;
}

.introduction {
  display: block;
  text-align: center;
  padding-bottom: 70px;
  background-color: whitesmoke;
}
.introduction .introduction__title {
  font-size: 25pt;
  padding: 0 50px;
  font-weight: 500;
}
.introduction .introduction__description {
  padding: 0 50px;
  font-size: 15pt;
  margin-bottom: 40px;
  font-weight: 200;
}
.introduction .introduction__button {
  text-decoration: none;
  color: white;
  border-radius: 50px;
  font-size: 15pt;
  padding: 15px 20px;
  background: linear-gradient(170deg, #ff79da, #9356dc);
  border: none;
  cursor: pointer;
}
.introduction .introduction__button:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

/* Section 2  FONCTIONNEMENT */
.choice {
  margin: 50px 0;
}
.choice .choice__title {
  margin-left: 5%;
  padding-top: 20px;
}

/* DIV Choice__heading */
.choice__heading {
  box-shadow: 5px 5px 5px #0000002e;
  margin: 25px 30px;
  background-color: whitesmoke;
  border-radius: 20px;
  padding: 25px 0;
  cursor: pointer;
}
.choice__heading:hover {
  transform: scale(1.02);
}
.choice__heading .choice__number {
  position: absolute;
  background-color: #9356dc;
  color: white;
  width: 23px;
  height: 20px;
  text-align: center;
  border-radius: 50px;
  padding-top: 3px;
  margin-left: -10px;
}
.choice__heading .choice__location {
  text-decoration: none;
  color: black;
  margin-left: 20px;
  font-size: 15pt;
}

/* SPAN Logo + Texte */
.recherche {
  display: block;
  margin: 0 40px;
}
.recherche .choice__icone {
  color: gray;
  font-size: 15pt;
}

/* Span Logo + bloc */
.choice__heading:hover {
  background-color: rgba(147, 86, 220, 0.1);
}
.choice__heading:hover .choice__icone {
  color: #9356dc;
}

/* Section 3 RESTAURANTS */
/* Section */
.restaurant {
  background-color: #f0f0f0;
  padding: 20px;
  padding-bottom: 60px;
}

.restaurant__title {
  font-size: 25pt;
  font-weight: 600;
}

.restaurant__picture {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

/* LOGO GREEN Nouveau */
.restaurant__new {
  color: #0c6b50;
  background: #99e2d0;
  border-radius: 3px;
  padding: 10px 20px;
  position: absolute;
  right: 30px;
  margin-top: 15px;
}

.restaurant__menu {
  text-decoration: none;
  color: black;
  background-color: white;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  margin-bottom: 20px;
}
.restaurant__menu .restaurant__strong {
  font-weight: bolder;
  font-size: 15pt;
  margin: 10px 15px 0;
}
.restaurant__menu .restaurant__light {
  font-weight: 300;
  margin: 3px 15px 0;
}

.restaurant__description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* ICONE HEART */
.far {
  position: absolute;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.restaurant__description:hover .far {
  transform: scale(1.2);
  background: linear-gradient(170deg, #ff79da, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

body {
  margin: 0px;
  font-family: "Roboto";
}

/* HEADER Ohmyfood LOGO */
.ohmyfood {
  position: relative;
  box-shadow: 0px 0px 5px #0000002e;
  display: flex;
  justify-content: center;
  padding: 15px 0px 15px 0px;
}

/* FOOTER */
.footer__logo {
  filter: invert(100%);
  height: 20px;
  padding: 30px 35px 5px 35px;
}

.notice__footer {
  background-color: #2c2c2ce1;
  text-decoration: none;
  color: white;
  padding-bottom: 10px;
}
.notice__footer .fa-solid {
  margin-right: 10px;
}
.notice__footer .notice {
  list-style: none;
  padding-left: 30px;
  margin-top: none;
}
.notice__footer .notice.notice a {
  text-decoration: none;
  color: white;
}

.loader {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fafafa;
  opacity: 0.9;
  inset: 0;
  z-index: 1;
  position: fixed;
  display: none;
}

.spin {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    box-shadow: 1px 5px 2px #e65c00;
  }
  50% {
    transform: rotate(180deg);
    box-shadow: 1px 5px 2px #18b201;
  }
  100% {
    transform: rotate(360deg);
    box-shadow: 1px 5px 2px #0456c8;
  }
}
.spin::before {
  position: absolute;
  left: 0;
  top: O;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(5, 4, 4, 0.3);
}

.loader__text {
  color: #ffffff;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 200px;
  animation: loader__text 3s ease-in-out infinite;
}

@keyframes loader__text {
  50% {
    color: black;
  }
}

/*# sourceMappingURL=style.css.map */
