$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;

$gradient-color: linear-gradient(176deg, #ff79da -15%, #9356dc);
$gradient-color-hearth: linear-gradient(170deg, #9356dc, #ff79da);
