$police-titre: Shrikhand;
$police-texte: Roboto;

/* Button Couleurs */

@mixin btn {
  text-decoration: none;
  color: white;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  background: $gradient-color;
  &:hover {
    opacity: 0.9;
    transform: scale(1.15);
    transition-property: transform;
    transition-duration: 1000ms;
  }
}

/* hearts animated */

@mixin heart {
  .fas {
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }
  .far {
    position: absolute;
    background-clip: text;
    -webkit-background-clip: text;
  }
}

@mixin heart-animated {
  :hover .fas {
    background-image: $gradient-color-hearth;
  }
  :hover .far {
    opacity: 0;
  }
}

/* Check button green */

@mixin check {
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: $tertiary-color;
  width: 80px;
  border-radius: 0 10px 10px 0;
  margin-right: -80px;
  transition: margin-right 0.5s;
  color: white;
  font-size: 20pt;
  @keyframes check {
    0% {
      transform: rotate(-270deg);
    }
    100% {
      transform: rotate(0);
    }
  }
}

@mixin carte {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 5px 10px 0px rgb(220, 220, 220);
  margin-top: 20px;
  display: flex;
  overflow: hidden;
  cursor: pointer;
  font-size: 15pt;
  text-overflow: ellipsis;
  white-space: nowrap;
  .menu__strong {
    margin: 0px;
    font-weight: 500;
    margin: 20px 0 0 10px;
    text-overflow: ellipsis; /* Permet d'avoir les 3 petits point */
    overflow: hidden;
    white-space: nowrap;
    font-size: 18pt;
    .menu__light {
      font-weight: 200;
      font-size: 15pt;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}
