$police-titre: Shrikhand;
$police-texte: Roboto;

/* Button */

@mixin transform-btn {
  transform: scale(1.15);
  transition-property: transform;
  transition-duration: 1000ms;
}

@mixin btn {
  text-decoration: none;
  color: white;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  &:hover {
    @include transform-btn;
    opacity: 0.9;
  }
}

/* Pictures */

@mixin transform-zoom {
  transform: scale(1.02);
}

/* hearts animated */

@mixin heart {
  .fas {
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }
  .far {
    position: absolute;
    background-clip: text;
    -webkit-background-clip: text;
  }
}

@mixin heart-animated {
  :hover .fas {
    background-image: $gradient-color-hearth;
  }
  :hover .far {
    opacity: 0;
  }
}

/* Check button green */

@mixin check {
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: $tertiary-color;
  width: 80px;
  border-radius: 0 10px 10px 0;
  margin-right: -80px;
  transition: margin-right 0.5s;
  color: white;
  font-size: 20pt;
}
