$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;

$gradient-color: linear-gradient(170deg, #ff79da, #9356dc);

@mixin heart-animated {
  position: relative;
  background-color: white;
  border-radius: 0 0 16px 16px;
}
